<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wild Sloth</title>
</head>
<body>
    <div>
        <header>
            Wild Sloth
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Project 1</li>
                <li>Project 2</li>
                <li>Project 3</li>
                <li>Project 4</li>
                <li>Project 5</li>
            </ul>
        </main>
        <footer>
            &copy; 2024 Wild Sloth
        </footer>
    </div>
</body>
</html>